<main>
  <h1>Kindness can be brutal</h1>
  <p>
    With only two years, Manga achieved many things. As if ruinning my clothes
    constantly, it also conquered our hurts with his tender eyes and special way
    to play and cuddle: by running and jumping on you.
  </p>
</main>
<section>
  <p>
    Manga was founded at Petrópolis, mountain region on Rio de Janeiro State and
    then adopted by a young couple with hopes of having a docile dog with a nice
    attitude. The couple got that, plus an extremely ease attitute to the point
    that if we were robbered, Manga might play with the thief.
  </p>
  <p>
    Not only it, it wasn't suppose for a dog destroy and eat the floor tiles,
    wardrobe and other furnitures and the habit of waking up his best friends by
    jumping on the bed until you stand up and play with him.
  </p>
  <p>
    Today, Manga still lives at Rio de Janeiro, where he can enjoy (and wrack)
    an intire backyard while he thinks (we hope) on the couple that adopted him
    and misses him so much.
  </p>
</section>
